body {
    font-family: 'Courier New', Courier, monospace;
}

#ylatunniste {
    border: 1px dashed rgb(180, 180, 180);
    padding: 10px 10px;
    margin: 0;
}

h1,
p {
    margin: 0;
}

#rinnakkain {
    border: 1px dashed rgb(180, 180, 180);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 10px;
}

#rinnakkain>* {
    width: 50%;
    margin: 0;
}

#alatunniste {
    border: 1px dashed rgb(180, 180, 180);
    padding: 10px 10px;
    margin: 0;
}

@media screen and (max-width: 750px) {
    #rinnakkain {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        max-width: 100%;
        padding: 10px;
    }
    #rinnakkain>* {
        width: 100%;
        margin: 0;
    }
}