    body {
        margin: 0;
        padding: 0;
    }
    
    h1 {
        color: lightgrey;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 5px;
        margin-left: 5px;
    }
    
    div {
        background-color: lightgrey;
        padding-left: 10px;
    }
    
    p {
        color: rgb(95, 95, 95);
        padding: 10px 0 10px 0;
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 10px 0 10px 0;
        margin: 0;
    }
    
    li {
        margin: 0 5px 0 5px;
        font-weight: 600;
    }
    
    #placeholder {
        border: 15px solid white;
    }